<div id='mini-book-main'>
    {{#Result}}
     <div class="col-md-4 col-sm-4 col-xs-6 item center-block">
        <div class="comic-info">
            <div class="featurette-heading fixed-title">{{Title}}</div>
            <h6>Author: {{Author}}</h6>
            <img src="{{ImageSrc}}" class="comic-img" alt="{{Title}}">
            <p><a class="btn btn-success" href="#details/{{Id}}" role="button">View details &raquo;</a></p>
        </div>
    </div>  
    {{/Result}}
</div>