  <form id="contact_form" enctype="multipart/form-data" method="post" enctype="text/plain">
    	<div id=contact-right>
    	    <div class="row">
    	        <label for="contact-name">Your name:</label><br />
    	        <input id="contact-name" class="input" name="name" type="text" value="" size="30" required/><br />
    	    </div>
    	    <div class="row">
    	        <label for="contact-email">Your email:</label><br />
    	        <input id="contact-email" class="input" name="email" type="email" value="" size="30" required/><br />
    	    </div>
    	    <div class="row">
    	        <label for="contact-message">Your message:</label><br />
    	        <textarea id="contact-message" class="input" name="message" rows="7" cols="32" required></textarea><br />
    	    </div>
    	    <div class="row" id="btn-contact-form">
    	        <a id="btn-send"><strong class="contact btn btn-success" >Send</strong></a>
    	    </div>
    	    <div class="row" id="btn-cancel-form">
    	        <a href="#home" class="contact btn btn-danger"><strong>Cancel</strong></a>
    	    </div>
    	</div>
    	<div id=contact-right>
    	    <div id="company-address">
    	        <p><em>Company name:</em><br/>
    	            <strong>{{company}}</strong><br/>
    	            <em>Address:</em><br/>
    	            <strong>{{address}}</strong><br/>
    	            <em>City: Country:</em><br/>                            
    	            <strong>{{city}}, {{country}}</strong><br/>
    	            <em>Phone:</em><br/>                            
    	            <strong>{{phone}}</strong><br/> 
    	            <em>Fax:</em><br/>                            
    	            <strong>{{fax}}</strong></p><br/>
    	    </div>
    	</div>
</form>