<div class="container clearfix ng-scope" id="comic-book-holder">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ImageSrc}}" alt="{{Title}}" class="img-thumbnail detailed-imgs"/>
        </div>        
        <div class="col-lg-6"> 
            <h2>{{Title}}</h2>
            <p>{{Description}}</p>
            <p>Author: {{Author}}</p>
            <p>Published by: {{Publisher}}</p>
            <p>Year: {{Year}}</p>
        </div>
         <div class="buttons"> 
            <a class="btn btn-lg btn-success" href="#">Buy Comic Book</a>
            <button type="button" class="btn btn-danger btn-lg" id="add-favorite" data-id="{{Id}}">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add To Favorites
            </button>
        </div>
    </div>   
    <!--<div class="row">
        <div class="col-lg-12">
            <p><a class="btn btn-lg btn-success" href="#">Buy Comic Book</a></p>
        <!--</div>
        <div>-->
            <!--<button type="button" class="btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add To Favorites
            </button>
        </div>         
    </div>    -->
</div>