<div class="container clearfix ng-scope" id="comic-book-holder">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{imageSrc}}" alt="{{title}}" class="img-thumbnail detailed-imgs"/>
        </div>        
        <div class="col-lg-6"> 
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Author: {{author}}</p>
            <p>Published by: {{publisher}}</p>
            <p>Year: {{year}}</p>
        </div>
         <div class="buttons"> 
            <a class="btn btn-lg btn-success" href="#">Buy Comic Book</a>
            <button type="button" class="btn btn-danger btn-lg" id="add-favorite" data-id="{{id}}">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add To Favorites
            </button>
        </div>
    </div>   
</div>