<div class="container marketing">
    {{#result}}
    <hr class="featurette-divider">
    <div class="row featurette">
        {{#if isRight}}
            <div class="col-md-7">
                <h2 class="featurette-heading">The story of </a> <strong>{{hero}}</strong>.</h2>
                <p class="lead pre-scrollable row" >{{history}}</p>
            </div>
            <div class="col-md-5">
                <img src="{{image}}"  class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        {{else}}
            <div class="col-md-5">
                <img src="{{image}}"  class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">The story of </a> <strong>{{hero}}</strong>.</h2>
                <p class="lead pre-scrollable row" >{{history}}</p>
            </div>
            {{/if}}
        </div>
    {{/result}}
</div>