<div class="container clearfix ng-scope" id="comic-book-holder">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ImageSrc}}" alt="{{name}}" class="img-thumbnail detailed-imgs"/>
        </div>        
        <div class="col-lg-6"> 
            <h2><strong>Title: </strong>{{name}}</h2>
            <p><strong>Description:<br/></strong><em>{{Description}}</em></p>
            <p><strong>Author: </strong>{{Author}}</p>
            <p><strong>Published by: </strong>{{Publisher}}</p>
            <p><strong>Year: </strong>{{Year}}</p>
        </div>
         <div class="buttons"> 
            <a id="read-expand" class="btn btn-lg btn-success" href="#online/read">CLick here to read this online</a>
        </div>
    </div> 